

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.affiche {


    pointer-events: none;
    width:190px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  overflow:hidden;
  width:100%;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

a svg{
  transition:all .5s ease;

&:hover{
   #transform:rotate(180deg);
 }
}

#ico{
  display: none;
}

.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
@include border-radius(5px);

  #transition: all 0.5s ease;

a{
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 2px;
  margin: 3px 0;
  text-decoration: none;
  background: #444;

&:nth-child(1){
   margin-top: 0;
 @include border-radius(3px 3px 0 0 );
 }
&:nth-child(5){
   margin-bottom: 0;
 @include border-radius(0 0 3px 3px);
 }

&:hover{
   background: #555;
 }
}
}
#hero {
    background-image: url('../src/background.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0%;
    bottom: 0%;
    height: 100vh;
    z-index: -10;
}
#movielist {
    width: 60%;
    position: relative;
    left: 20%;
}

#hero-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;

}
body {
    overflow-x: hidden;

}
.search-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 55px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: white;
    color: black;
}
.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}
.search-btn > i {
    font-size: 30px;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.App {
    text-align: center;
    position: relative;
}


.moviereco {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 55px;
    border-radius: 40px;
    padding: 10px;
}
/* Fond du gadget de la barre de recherche */
.recherche_p {
    background-color: #eeeeee;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #dddddd;   /* Couleur de la bordure  */
    padding: 10px 10px 10px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}

/* Champ de saisie */
#searchthis #search {
    background-color: #ffffff;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #dddddd;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
    box-sizing: border-box;   /* Important */
    font-family: Lato;   /* Police du texte */
    font-size: 12px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
}

/* Bouton valider */
#searchthis #search-btn {
    background-color: #E8B960;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #E8B960;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
    box-sizing: border-box;   /* Important */
    font-family: PT sans;   /* Police du texte */
    font-size: 13px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 2px;   /* Espacement des caractères */
    margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase;   /* Transforme le texte en majuscules */
    color: #ffffff;   /* Couleur du texte */
}

/* Bouton valider quand survolé par la souris */
#searchthis #search-btn:hover {
    background-color: #ffffff;   /* Couleur de fond */
    color: #E8B960;   /* Couleur du texte */
    cursor: pointer;   /* Apparence du curseur comme pour un lien */
}

#tabtd {
    color: #fff;
    background-color: #333;
    transition: all 1s ease-out;
}

#tabtd:hover,
#tabtd:focus {
    color: #fff;
    background-color: #fff;
}html,
 body {
     margin: 0;
     padding: 0;
 }

#tab nav {
    display: flex;
    padding: 12px;
    background-color: #333;
}


#tabtd {
    width: 50px;
    border: 1px solid #fff;
    border-radius: 18px;
    outline: 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Verdana;
}

#tabtd:not(:last-child) {
    margin-right: 12px;
}
#tab {
    margin-left: auto;
    margin-right: auto;
    width: 15em
}
.classer_note{
    color: Grey;
    font-size: 20px;
    font-family: "Arial", Times, serif;
    font-weight: bold;

}